@import './variables.less';

body{
  margin: 0;
  height: 100%;

  -webkit-tap-highlight-color: transparent;

}

@font-face {
  font-family: VariableFont wght;
  src: url('./NotoSansSC-VariableFont_wght.ttf');
  font-weight: 100 900;
}
  /* 取消双击变蓝色 */
  *{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* Non-prefixed version, currently*/
  }